annotated-types==0.6.0
apsw==3.43.1.0
arandr==0.1.11
async-timeout==4.0.3
attrs==23.2.0
Authlib==1.2.1
autocommand==2.2.2
beautifulsoup4==4.12.3
breezy==3.3.5
Brlapi==0.8.5
Brotli==1.1.0
brotlicffi==1.1.0.0
btrfsutil==6.8
build==1.2.1
cachetools==5.3.2
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
configobj==5.0.8
coverage==7.4.1
cryptography==42.0.5
css-parser==1.0.10
cssselect==1.2.0
dbus-python==1.3.2
distro==1.9.0
dnspython==2.5.0
dulwich==0.21.7
evdev==1.7.0
fastbencode==0.2
fastjsonschema==2.19.1
faust-cchardet==2.1.19
feedparser==6.0.11
html2text==2020.1.16
html5-parser==0.4.11
html5lib==1.1
idna==3.6
ifaddr==0.2.0
inflate64==1.0.0
inflect==7.2.0
iniconfig==2.0.0
inputs==0.5
installer==0.7.0
jaraco.context==4.3.0
jaraco.functools==4.0.0
jaraco.text==3.12.0
jeepney==0.8.0
libfdt==1.7.0
libvirt-python==10.2.0
lit==17.0.6.dev0
louis==3.29.0
lxml==5.1.0
Mako==1.3.2
Markdown==3.6
MarkupSafe==2.1.5
mechanize==0.4.8
merge3==0.0.14
meson==1.4.0
mock==5.1.0
moddb==0.10.0
more-itertools==10.2.0
msgpack==1.0.5
multivolumefile==0.2.3
netifaces==0.11.0
netsnmp-python==1.0a1
nose==1.3.7
ordered-set==4.1.0
packaging==23.2
patiencediff==0.2.14
pbr==6.0.0
pdftotext==2.2.2
pillow==10.2.0
platformdirs==4.2.0
pluggy==1.4.0
ply==3.11
ProtonUp-Qt==2.9.1
psutil==5.9.8
pwquality==1.4.5
py7zr==0.21.0
pyaml==23.12.0
pybcj==1.0.2
pycairo==1.26.0
pychm==0.8.6
pycparser==2.22
pycryptodome==3.20.0
pycryptodomex==3.12.0
pydantic==2.6.4
pydantic_core==2.16.3
Pygments==2.17.2
PyGObject==3.48.1
pyppmd==1.1.0
pyproject_hooks==1.0.0
PyQt6==6.7.0.dev2404081550
PyQt6-sip==13.6.0
PyQt6-WebEngine==6.6.0
pyrate-limiter==3.6.0
pytest==8.1.1
python-dateutil==2.9.0
python-slugify==8.0.4
pyxdg==0.28
PyYAML==6.0.1
pyzstd==0.15.10
Reflector==2023.6.28.0.36.1
regex==2023.12.25
requests==2.31.0
setproctitle==1.3.3
sgmllib3k==1.0.0
six==1.16.0
soupsieve==2.5
steam==1.4.4
TBB==0.2
text-unidecode==1.3
texttable==1.7.0
tomli==2.0.1
toolz==0.12.1
tqdm==4.66.2
trove-classifiers==2024.3.29
typeguard==4.2.1
typing_extensions==4.10.0
unrardll==0.1.7
urllib3==1.26.18
validate==5.0.8
validate-pyproject==0.13.post1.dev0+gb752273.d20230520
vdf==3.4
webencodings==0.5.1
xxhash==3.4.1
zeroconf==0.63.0
zstandard==0.22.0
